body {
    background-color: maroon;
    
}

img {
    margin: auto;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    display: block;
    border-radius: 2.5%;
}

.header {
    margin: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 15px;
    font-family: 'Fredoka', sans-serif;
    color: gold;
}

.body {
    text-align: center;
    color: gold;
    font-family: 'Poppins', sans-serif;
}
